.header
{
    width: 100%;
    background-color:#4d4c4c;
    height: 70px;
    display: flex;
    padding: 0px 10%; 
    box-sizing: border-box;
    justify-content: space-between;
    background-image: url('https://images.app.goo.gl/pppLX7FAmfQeQk2VA');
}

.logo
{
    width: 15%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.nav
{
    width: 30%;
    height: 70px;
}
.nav-links
{
    width:100%;
    height: 70px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;

}

header h1{
    font-size: 3rem;
    margin: 0;

}
header p{

}
.head{
    background-image: url('https://images.app.goo.gl/pppLX7FAmfQeQk2VA');
    background-color: #4f4e4e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.head h1{
    font-size: 85px;
    margin-top: 180px;
    font-weight: 500;

}
.head p{
    font-size: 25px;
}
.head a.cta
{
    padding: 15px 40px;
    font-size: 20px;
    margin: 20px;
    background-color: #c4c4cb;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    
}
.head a.cta:hover{
    background-color: transparent;
    color:#bcbcc2;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section input[type="text"],
section input[type="email"],
section textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #f2f2f2;

}
section button[type="submit"] {
    background-color: #333;
    color:#fff;
    padding:1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#services{
    padding: 1rem 0;
    text-align: center;
}
#services h2{
    margin-bottom: 2rem;
}
.service{
    width: 30%;
    display: inline-block;
    padding: 0 2rem;
    text-align: center;
}

.service img{
    width: 250px;
    margin-bottom: 1rem;
   
}
@media only screen and (max-width: 600px){
    .service{
        width: 100%;
        margin: 2rem 0;
    }
}
#about{
    padding: 50px 12%;
    line-height: 30px;
}
#about img{
    margin-top: 50px;

}
#contact{
    padding: 50px 7%;
    line-height: 30px;

}
#contact h2{
    margin-bottom: 2rem;
}
.footer{
    margin-top: 2%;
    background-color: #3f1ed3;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;

}
footer p{
    font-size: 1rem;
    margin: 0;
}






