*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    background-color:#d6d3d3;
    height: 70px;
    display: flex;
    padding: 0px 10%; 
    box-sizing: border-box;
    justify-content: space-between;
}

.logo
{
    width: 15%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.nav
{
    width: 30%;
    height: 70px;
}
.nav-links
{
    width:100%;
    height: 70px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.banner
{
    width: 100%;
    height: 470px;
    background-color: #d6d3d3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.t1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.t2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 50px;
    text-align:center;
    color: #5b5bb0;
}
.cta:hover{
    background-color: transparent;
    color:#5b5bb0;
}
.cta
{
    padding: 15px 40px;
    font-size: 20px;
    margin: 20px;
    background-color: #5b5bb0;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    
}


    

.btn-box:hover{
    background-color: transparent;
    color:#5b5bb0;

}
.btn-box{
    padding: 15px 40px;
    font-size: 20px;
    margin: 20px;
    background-color: #5b5bb0;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    

}

.image{
    width: 30%;
    background-color: #5b5bb0;
    border-radius: 30px;
    text-align: right;
    position: absolute;
    top: 50%; /* Adjust as needed */
    right: 50px;
    transform: translateY(-40%); /* Center vertically */
    }
.about{
    width: 100%;
    background-color:#d6d3d3;
    height: 70px;
    display: flex;
    padding: 0px 10%; 
    box-sizing: border-box;
    justify-content: space-between;

        
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 470px;
    background-color: #d6d3d3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    align-items: center;

}
.image1{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 50px;
    size: 40px;
    

    


}
.about-text h1{
    font-size: 40px;
    line-height: 1;
    

}   
.about-text h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
   

}
.about-text p{
    font-size: var(--p-font);
    line-height: 15px 0 30px;
    line-height: 1.8;
    margin-bottom: 4px;
    
}
.center{
    text-align:center;
    float:center;
}
.right{
    text-align:right;
}
.bg1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 470px;
    background-color: #d6d3d3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    align-items: center;

}
.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.projects{
    padding:24px;
    border: 1px solid var(--color-dark-variant);
    border-radius: 30px;
    text-align: center;
    background-color: #d6d3d3;
   
}
.bg2{
    background-color: #d6d3d3;
   
}
.i1{
    border-radius: 20px;
}
.btn{
   
    background-color: #5b5bb0;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    padding: 5px 20px;
    font-size: 10px;
    margin: 10px;
}
.btn:hover{
    background-color: transparent;
    color:#5b5bb0;
}
.clients
{
    width:100%;
    padding: 30px 10%;
    /*background-color: red;*/}

.client-section-child
{
    /*background-color: white;*/
    column-gap: 5%;
    flex-wrap: wrap;
    align-items: center;
}
.client-img{
    width:15%;
    filter:grayscale(100%);
    transition: .3s;
    cursor: pointer;

}
.client-img:hover
{
    filter:grayscale(0);
    transform: scale(1.2);
}

.footer
{
    width:100%;
    padding:30px 10%;
    background-color: #4a4a4a;
}
.footer-child
{
    width:22%;
    padding: 20px 50px;
    display:flex;
    flex-direction: column;
    row-gap:10px;
}
.footer-list
{
    list-style-type: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    display:flex;
    flex-direction: column;
    row-gap: 7px;
    
}